num_simulations: 1
dt: 1e-3

neuron:
  time_constant: 20e-3
  resistance: 100e6
  reset_voltage: -70e-3
  spike_threshold: -50e-3
  dt: 1e-3
  use_homeostasis: true
  homeostasis_tau: 20.0
  homeostasis_set_point: 10.0

sources:
  excitatory: 
    type: gabor
    edge_probability: 1.0
    concentration: 1.5
    baseline_rate: 15.0
    driven_rate: 30.0
    tau_stim: 10e-3

synapses:
  proximal:
    type: sourced
    plastic: true
    num_synapses: 1000
    max_weight: 80e-12
    reversal: 0.0
    tau: 10e-3
    dt: 1e-3
    source_population: excitatory
    conductance_threshold: 0.1
    source: 
      num_presynaptic_neurons: 36
      num_synapses: 1000
      source_rule: divided-restricted
      valid_sources: [16, 17, 18, 19]
    
    initialization:
      min_weight: 0.0
      max_weight: 1.0

    plasticity:
      use_stdp: true
      stdp_rate: 0.01
      depression_potentiation_ratio: 1.1
      potentiation_tau: 20e-3
      depression_tau: 20e-3
      use_homeostasis: true
      homeostasis_tau: 20.0
      homeostasis_scale: 1.0

    replacement:
      use_replacement: false

  distal-simple:
    type: sourced
    plastic: true
    num_synapses: 360
    max_weight: 20e-12
    reversal: 0.0
    tau: 10e-3
    dt: 1e-3
    source_population: excitatory
    conductance_threshold: 0.1
    source: 
      num_presynaptic_neurons: 36
      num_synapses: 360
      source_rule: divided
    
    initialization:
      min_weight: 0.0
      max_weight: 1.0

    plasticity:
      use_stdp: true
      stdp_rate: 0.01
      depression_potentiation_ratio: 1.1
      potentiation_tau: 20e-3
      depression_tau: 20e-3
      use_homeostasis: true
      homeostasis_tau: 20.0
      homeostasis_scale: 1.0

    replacement:
      use_replacement: false

  distal-complex:
    type: sourced
    plastic: true
    num_synapses: 360
    max_weight: 20e-12
    reversal: 0.0
    tau: 10e-3
    dt: 1e-3
    source_population: excitatory
    conductance_threshold: 0.1
    source: 
      num_presynaptic_neurons: 36
      num_synapses: 360
      source_rule: divided
    
    initialization:
      min_weight: 0.0
      max_weight: 1.0

    plasticity:
      use_stdp: true
      stdp_rate: 0.01
      depression_potentiation_ratio: 1.1
      potentiation_tau: 20e-3
      depression_tau: 20e-3
      use_homeostasis: true
      homeostasis_tau: 20.0
      homeostasis_scale: 1.0

    replacement:
      use_replacement: false