# Just changed distal max weight from 100e-12 to 200e-12, no other changes

num_simulations: 1
dt: 1e-3

neuron:
  time_constant: 20e-3
  resistance: 100e6
  reset_voltage: -70e-3
  spike_threshold: -50e-3
  dt: 1e-3
  use_homeostasis: true
  homeostasis_tau: 20.0
  homeostasis_set_point: 10.0

sources:
  excitatory: 
    type: gabor
    edge_probability: 1.0
    concentration: 1.0
    baseline_rate: 5.0
    driven_rate: 45.0
    tau_stim: 10e-3

  inhibitory: 
    type: poisson
    num_inputs: 100
    rates: 10.0
    tau_stim: inf

synapses:
  proximal:
    type: sourced
    plastic: true
    num_synapses: 100
    max_weight: 500e-12
    reversal: 0.0
    tau: 10e-3
    dt: 1e-3
    source_population: excitatory
    conductance_threshold: 0.1
    independent_noise_rate: null
    source: 
      num_presynaptic_neurons: 36
      num_synapses: 100
      source_rule: random-restricted
      valid_sources: [16, 17, 18, 19]
    
    initialization:
      min_weight: 0.0
      max_weight: 1.0

    plasticity:
      use_stdp: true
      stdp_rate: 0.01
      depression_potentiation_ratio: 1.1
      potentiation_tau: 20e-3
      depression_tau: 20e-3
      use_homeostasis: true
      homeostasis_tau: 20.0
      homeostasis_scale: 1.0

    replacement:
      use_replacement: true
      lose_synapse_ratio: 0.01
      new_synapse_ratio: 0.01

  distal-simple:
    type: sourced
    plastic: true
    num_synapses: 250
    max_weight: 200e-12
    reversal: 0.0
    tau: 10e-3
    dt: 1e-3
    source_population: excitatory
    conductance_threshold: 0.1
    independent_noise_rate: null
    source: 
      num_presynaptic_neurons: 36
      num_synapses: 250
      source_rule: random
    
    initialization:
      min_weight: 0.0
      max_weight: 1.0

    plasticity:
      use_stdp: true
      stdp_rate: 0.01
      depression_potentiation_ratio: 1.1
      potentiation_tau: 20e-3
      depression_tau: 20e-3
      use_homeostasis: true
      homeostasis_tau: 20.0
      homeostasis_scale: 1.0

    replacement:
      use_replacement: true
      lose_synapse_ratio: 0.01
      new_synapse_ratio: 0.01

  distal-complex:
    type: sourced
    plastic: true
    num_synapses: 250
    max_weight: 200e-12
    reversal: 0.0
    tau: 10e-3
    dt: 1e-3
    source_population: excitatory
    conductance_threshold: 0.1
    independent_noise_rate: null
    source: 
      num_presynaptic_neurons: 36
      num_synapses: 250
      source_rule: random
    
    initialization:
      min_weight: 0.0
      max_weight: 1.0

    plasticity:
      use_stdp: true
      stdp_rate: 0.01
      depression_potentiation_ratio: 1.1
      potentiation_tau: 20e-3
      depression_tau: 20e-3
      use_homeostasis: true
      homeostasis_tau: 20.0
      homeostasis_scale: 1.0

    replacement:
      use_replacement: true
      lose_synapse_ratio: 0.01
      new_synapse_ratio: 0.01

  inhibitory:
    type: direct
    plastic: false
    num_synapses: 100
    max_weight: 100e-12
    reversal: -70e-3
    tau: 15e-3
    conductance_threshold: 0.0
    dt: 1e-3
    source_population: inhibitory

    initialization:
      min_weight: 1.0
      max_weight: 1.0

    plasticity:
      use_stdp: false
      use_homeostasis: false